<h2>{{ "#contactpref"|translate|capitalize }}</h2>
<div class="horaires">

    <div class="checkbox">
        <label for="rb1">
            <input increase type="checkbox" id="rb1" name="heurespref[]" value="" checked>
            <span class="cr"><i class="cr-icon glyphicon glyphicon-arrow-right"></i></span>
                {{ "#sanspreference"|translate|capitalize }}
        </label>
    </div>
    <div class="checkbox">
        <label for="rb8">
            <input type="checkbox" id="rb8" name="heurespref[]" value="8">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-arrow-right"></i></span>
            08h00
        </label>
    </div>
    <div class="checkbox">
        <label for="rb9">
            <input type="checkbox" id="rb9" name="heurespref[]" value="9">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-arrow-right"></i></span>
            09h00
        </label>
    </div>
    <div class="checkbox">
        <label for="rb10">
            <input type="checkbox" id="rb10" name="heurespref[]" value="10">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-arrow-right"></i></span>
            10h00
        </label>
    </div>
    <div class="checkbox">
        <label for="rb11">
            <input type="checkbox" id="rb11" name="heurespref[]" value="11">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-arrow-right"></i></span>
            11h00
        </label>
    </div>
    <div class="checkbox">
        <label for="rb12">
            <input type="checkbox" id="rb12" name="heurespref[]" value="12">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-arrow-right"></i></span>
            12h00
        </label>
    </div>
    <div class="checkbox">
        <label for="rb13">
            <input type="checkbox" id="rb13" name="heurespref[]" value="13">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-arrow-right"></i></span>
            13h00
        </label>
    </div>
    <div class="checkbox">
        <label for="rb14">
            <input type="checkbox" id="rb14" name="heurespref[]" value="14">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-arrow-right"></i></span>
            14h00
        </label>
    </div>
    <div class="checkbox">
        <label for="rb15">
            <input type="checkbox" id="rb15" name="heurespref[]" value="15">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-arrow-right"></i></span>
            15h00
        </label>
    </div>
    <div class="checkbox">
        <label for="rb16">
            <input type="checkbox" id="rb16" name="heurespref[]" value="16">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-arrow-right"></i></span>
            16h00
        </label>
    </div>
    <div class="checkbox">
        <label for="rb17">
            <input type="checkbox" id="rb17" name="heurespref[]" value="17">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-arrow-right"></i></span>
            17h00
        </label>
    </div>
    <div class="checkbox">
        <label for="rb18">
            <input type="checkbox" id="rb18" name="heurespref[]" value="18+">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-arrow-right"></i></span>
            {{ "#apartirde"|translate|capitalize }} 18h00
        </label>
    </div>
    <div class="checkbox">
        <label for="rb1sem">
            <input type="checkbox" id="rb1sem" name="heurespref[]" value="semaine">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-arrow-right"></i></span>
                {{ "#lundivendredi"|translate|capitalize }}
        </label>
    </div>
    <div class="checkbox">
        <label for="rb1week">
            <input type="checkbox" id="rb1week" name="heurespref[]" value="weekend">
            <span class="cr"><i class="cr-icon glyphicon glyphicon-arrow-right"></i></span>
                {{ "#samedidimanche"|translate|capitalize }}
        </label>
    </div>
</div>
